<tr>
	<th>
		<label for="{% if flags.is_validated %}icwp_passkey_reg{% endif %}"
			   class="form-label">
			{{ strings.title }}</label>
	</th>

	<td id="shield_section_passkeys">
		<p class="shield-passkeys-register">
			<button type="button" class="button button-primary shield_passkey_reg" id="icwp_passkey_reg" disabled="disabled">
				{{ strings.button_reg_key }}
			</button>
		</p>

		{% include '/admin/user/profile/mfa/mfa_records_table.twig' with {
			records: vars.passkeys,
			heading: strings.registered_devices,
			empty_message: strings.no_registered_devices,
			label_header: strings.passkey,
			used_header: strings.used,
			registered_header: strings.registered,
			action_header: strings.action,
			remove_label: strings.remove_label,
			remove_button_class: 'shield_remove_passkey',
			remove_data_attribute: 'data-wan_source_id'
		} only %}

		{% if flags.show_explanatory_text %}
			<p class="description">{{ strings.prompt }}</p>
		{% endif %}
	</td>
</tr>
